node_modules
.next
out
dist
coverage
*.log
.env
.env.*
.DS_Store
.vscode
.idea
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vitest
.turbo
playwright-report
test-results
